.DS_Store
.idea/
.vscode/
*.code-workspace
/vendor
.env
.env.test
.phpstorm.meta.php
.phpunit.result.cache
/coverage/
.cache/
node_modules/

# ignore all secrets but the folder keper
secrets/*
!secrets/.gitkeep
cypress/*
!cypress/support/
#cypress/screenshots/*
!cypress/screenshots/.gitkeep
